*{
    border: 1px solid black;
}

/* h1{
    color: yellow;
    color: red;
} */

/* #first{
    color: red;
} */
/* .second{
    color: green;
}
div>h1{
    color: red;
} */
/* #first,.second,p{
    color: red;
} */