p{
    border: 2px solid;
    max-height: 100px;
    overflow-x:auto;
}
span{
    border: 2px solid;

}

/* div{
    width: 200px;
    height: 200px;
    background-color: green;
    border: 1px solid black;
    display: inline-block;
} */
.main{
    width: 100vw;
    height: 200px;
    background-color: red;
}
.not-main{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: auto;
}